@model StudentProgress.Models.Student

@{
    ViewBag.Title = "CreateFile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateFile</h2>

<p>
    @Html.ActionLink("Скачать список студентов", "CreateFile")
</p>