
@{
    ViewBag.Title = "CreateStud";
}

<h2>Добавление нового студента</h2>
<form method="post" action="">
    <table class="table-bordered">
        <tr>
            <td><p>Фамилия</p></td>
            <td><input type="text" name="SecondName" /></td>
        </tr>
        <tr>
            <td><p>Имя</p></td>
            <td><input type="text" name="FirstName" /></td>
        </tr>
        <tr>
            <td><p>Номер группы</p></td>
            <td><input type="text" name="GroupNumber" /></td>
        </tr>
        <tr>
            <td><p>Курс</p></td>
            <td><input type="text" name="Course" /></td>
        </tr>
        <tr>
            <td><p>Оценка</p></td>
            <td><input type="text" name="Grade" /></td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Добавить" />
            </td>
            <td></td>
        </tr>
    </table>
</form>

